
@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>@ViewBag.MainTitle</h1>



<!DOCTYPE html>
<html>

    <head>
        <title>Reportes</title>
        <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <script src="//code.jquery.com/jquery-3.5.1.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script defer src="~/js/ReportesScript.js"> </script>
        <link rel="stylesheet" href="~/css/CalendarioStyle.css">
        <link rel="stylesheet" href="~/css/cantidadPersonasStyle.css" />
    </head>

    <body>

        <div>
            <h3>Bienvenido a la sección de reportes</h3>
            <h5>Elija el tipo de reporte</h5>
            <input type="radio" id="diario" name="reportes" value="diario" checked>
            <label for="diario">Diario</label>
            <input type="radio" id="visitas" name="reportes" value="visitas">
            <label for="visitas">Rango específico</label><br>
        </div>


        <div class="contorno gray">
            <form id="fechas" action="Reservaciones" method="POST">
                <div class="centrar">

                    <div class="flex">
                        <div id="calendarioDiario">
                            <label class="centrar" id="label-fecha-entrada" for="fecha-entrada">Fecha de Inicial:</label><br><br>
                            <input type="datetime" id="fecha-entrada" name="fecha-entrada" readonly>

                        </div>

                        <div id="calendarioRangoDias" hidden>
                            <label class="centrar" for="fecha-salida" id="label-fecha-salida">Fecha de Final:</label><br><br>
                            <input type="datetime" id="fecha-salida" name="fecha-salida" readonly>
                        </div>
                    </div>
                    <br>
                    <div id="error"></div>
                    <div class="centrar1">
                        <button class="button2" type="button" onclick="limpiar()"> Limpiar </button>
                        <script>
                            function limpiar () {
                                window.location.reload();
                            }
                        </script>
                        <button type="button" class="button1" id="btn-siguiente"> Generar </button>

                    </div>
                </div>

            </form>
        </div>
        @section Scripts{

            <script>


                $(function () {

             
                    var currentDate = new Date();

                    $("#fecha-entrada").datepicker({
                        dateFormat: "yy-mm-dd",

                        fontSize: 20,


                        onSelect: function (selectedDate) {
                            $("#fecha-salida").datepicker("option", "minDate", selectedDate);
                            $("#fecha-salida").focus();
                            var startDate = $(this).datepicker("getDate");
                            if (startDate != null) {
                                var endDate = $("#fecha-salida").datepicker("getDate");
                                if (endDate != null) {
                                    var reservedInBetween = false;
                                    var currentDate = new Date(startDate);
                                    while (currentDate <= endDate) {
                                        var dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);
                                        if ($.inArray(dateString, reservedDates) !== -1) {
                                            reservedInBetween = true;
                                            break;
                                        }
                                        currentDate.setDate(currentDate.getDate() + 1);
                                    }

                                }
                            }
                        }
                    });


                    $("<style>").text(".ui-datepicker.visible { display: inline-block; }").appendTo("head");
                    $("#fecha-salida").datepicker({
                        dateFormat: "yy-mm-dd",

                        hideIfNoPrevNext: false,
                        onSelect: function (selectedDate) {
                            $("#fecha-entrada").datepicker("option", "maxDate", selectedDate);
                            var endDate = $(this).datepicker("getDate");
                            if (endDate != null) {
                                var startDate = $("#fecha-entrada").datepicker("getDate");
                                if (startDate != null) {
                                    var reservedInBetween = false;
                                    var currentDate = new Date(startDate);
                                    while (currentDate <= endDate) {
                                        var dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);
                                        if ($.inArray(dateString, reservedDates) !== -1) {
                                            reservedInBetween = true;
                                            break;
                                        }
                                        currentDate.setDate(currentDate.getDate() + 1);
                                    }
                                }
                            }
                        }
                    });

                });

                var form = document.getElementById("fechas");
                var err = document.getElementById("error");
                var calendarioRangoDias = document.getElementById("visitas");
                var calendarioDiario = document.getElementById("diario");
                const btnSiguiente = document.querySelector('#btn-siguiente');
                btnSiguiente.addEventListener('click', function () {
                    const fechaEntrada = document.querySelector('#fecha-entrada').value;
                    const fechaSalida = document.querySelector('#fecha-salida').value;
                    const mensajeError = "Debes llenar lo que se solicita";
                    if (calendarioRangoDias.checked) {
                        if (fechaEntrada && fechaSalida) {
                            form.submit();
                        } else {
                            err.innerText = mensajeError;
                        }
                    } else if (calendarioDiario.checked) {
                        if (fechaEntrada) {
                            form.submit();
                        } else {
                            err.innerText = mensajeError;
                        }
                    }
                });

            </script>

            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </body>

</html>