<!doctype html>
<html>
	<head>
		<script defer src="~/js/ReservacionesScript.js"> </script>
	</head>

	<body>

		<div class="centrar">
			<div>
				<h3>Reservaciones</h3>
			</div>
			<br>
			<div>
				<h4>Solicitante de Reserva</h4>
			<form id="datosImportantes" action="FinalizarReserva" method="POST">
					<div class="formInput" id="divNombre">
						<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" size="50">
						<p class="mensajeError" id="mensajeErrorNombre"></p>
					</div>
					<br>
					<div class="formInput" id="divApellido1">
						<label for="primerApellido">Primer Apellido:</label>
					<input type="text" id="primerApellido" name="primerApellido" placeholder="Ingrese primer apellido" size="50">
					     <p class="mensajeError" id="mensajeErrorApellido1"></p>
					</div>
					<br>
					<div class="formInput" id="divApellido2">
						<label for="segundoApellido">Segundo Apellido:</label>
					<input type="text" id="segundoApellido" name="segundoApellido" placeholder="Ingrese su segundo apellido" size="50">
						<p class="mensajeError" id="mensajeErrorApellido2"></p>
					</div>

					<br>
					<br>

					<h5>Identificación</h5>

					<div class="formInput" id="divIdent">
						<label for="identificacion">Identificación:</label>
					<input type="text" id="identificacion" name="identificacion" placeholder="123456789" size="50">
						<p class="mensajeError" id="mensajeErrorIdent"></p>
					</div>

					<br>
					<br>

					<h5>Datos de Contacto</h5>
					<div class="formInput" id="divTelefono">
						<label for="telefono">Teléfono:</label>
					<input type="tel" id="telefono" name="telefono" placeholder="80000000" size="50" maxlength="10">
					</div>
					<div class="formInput" id="divEmail">
						<label for="email">Correo electrónico:</label>
					<input type="email" id="email" name="email" placeholder="example@domian.com" size="50" maxlength="50">
					</div>

					<br>
					<br>


					<h5>Tipo de identificación</h5>

				<input type="radio" id="Nacional"  name="nacionalidad" value="Nacional">
					<label for="Nacional">Nacional</label>
					<input type="radio" id="Extranjero" name="nacionalidad" value="Extranjero">
					<label for="Extranjero">Extranjero</label><br>

					<br>

					<h5>País</h5>

					<select name="pais" id="pais">
						<option value="costaRica">Costa Rica</option>
						<option value="panama">Panamá</option>
						<option value="canada">Canadá</option>
						<option value="mexico">México</option>
						<option value="otro">México</option>
					</select>
		
					<br>
					<br>

					<h5>Motivo de Visita</h5>

					<input type="radio" id="Ocio" name="motivo" value="Ocio">
					<label for="Ocio">Ocio</label>
					<input type="radio" id="Academico" name="motivo" value="Academico">
					<label for="Academico">Académico</label><br>

					<br>
					<br>

					<h4>Datos de Reserva</h4>
						<br>
						<h5>Cantidad de Vehículos</h5>
						<select name="vehiculo" id="vehiculo">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					<br><br>

					<div class="formInput" id="divPlaca1">
						<label id="label-placa1" for="placa1" >Placa 1:</label>
						<input type="text" name="placa1" placeholder="placa del vehículo" size="50" id="placa1" >
						<p class="mensajeError" id="mensajeErrorApellido1" >Debe digitar una placa</p>
					</div>

					<div class="formInput" id="divPlaca2">
						<label id="label-placa2" for="placa2" >Placa 2:</label>
						<input type="text" name="placa2" placeholder="placa del vehículo" size="50" id="placa2" >
						<p class="mensajeError" id="mensajeErrorApellido1" >Debe digitar una placa</p>
					</div>
					<div class="formInput" id="divPlaca3">
						<label id="label-placa3" for="placa3" >Placa 3:</label>
						<input type="text" name="placa3" placeholder="placa del vehículo" size="50" id="placa3" >
						<p class="mensajeError" id="mensajeErrorApellido1" >Debe digitar una placa</p>
					</div>
					<div class="formInput" id="divPlaca4">
						<label id="label-placa4" for="placa4" >Placa 4:</label>
						<input type="text" name="placa4" placeholder="placa del vehículo" size="50" id="placa4" >
						<p class="mensajeError" id="mensajeErrorApellido1" >Debe digitar una placa</p>
					</div>
				</form>
				<br>
			<button id="atras" class="button2 button" type="button" onclick="history.back()" value="atras">Atrás</button>
				<button id="continuar" class="button1 button" type="button" value=" continuar">Continuar</button>
			</div>
		</div>
	
	</body>

</html>