
@{
    if (ViewData["IsAdminArea"] != null)
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewData["Title"] = "Reservaciones";
}

<div class="centrar">
    <br>

    <img src="https://camping.cr/wp-content/uploads/2021/03/Imagen-2-7.jpg"
         alt="Imagen Ilustrativa" style="width: 40%">

    <br>
</div>


<div style="text-align:justify">


    <div>
        <br>
    </div>
        @if (ViewBag.mensaje != null && !string.IsNullOrEmpty(ViewBag.mensaje.ToString()))
        {
            <div>@Html.Raw(ViewBag.mensaje.ToString())</div>
        }else
        {
          <p>Un texto con la descripción</p>
        }


    <div class="centrar">

        <h6>Precio</h6>
        @if (ViewBag.costoTotal != null && !string.IsNullOrEmpty(ViewBag.costoTotal.ToString()))
        {
       
            <p>@Html.Raw(ViewBag.costoTotal .ToString())</p>
            
        }
        else
        {
            <p>0.0 colones</p>
        }
        
        <button class="button1 button" type="submit" method="POST" action="">Confirmar</button>
 
    </div>
</div>



