@model List<JunquillalUserSystem.Models.TarifaModelo>;


@{

    if (ViewData["IsAdminArea"] != null)
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!-- Este formulario sirve para que los turistas indiquen la cantidad de personas para realizar su reserva, 
los campos incluyen a los adultos y niños nacionales y adultos y niños extranjeros por el momento-->
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservas Junquillal</title>
    <link rel="stylesheet" href="~/css/cantidadPersonasStyle.css" />
    <script defer src="~/js/ValidacionCantidadPersonas.js"></script>
</head>

<body>
    <header>
        <div id="titulo">
            @if (ViewBag.TipoTurista == "reserva")
            {
                <h2 class="conCenter">Huéspedes para la reserva en la zona de camping</h2>
            }
            else
            {
                <h2 class="conCenter">Huéspedes para visita en la zona de Picnic</h2>
            }
            
             <div id="instruccion">Indique la cantidad de adultos y niños nacionales o extranjeros incluídos en la reserva</div>
             <br/>
        </div>
    </header>
    <section>
        <form  id="cantidad" action="Calendario" method="POST">
            <br />
            <div id="error"></div>
            <br />
            @{
                string html = "";
                foreach(TarifaModelo tarifa in Model)
                {
                    string idDiv = tarifa.Poblacion + tarifa.Nacionalidad + "Div";
                    string idLabel = tarifa.Poblacion + tarifa.Nacionalidad + "Label";
                    string idInput = tarifa.Poblacion.Replace(" ","") + tarifa.Nacionalidad;
                    string poblacion = tarifa.Poblacion + " " + tarifa.Nacionalidad;
                    html += $@"
                     <div id={idDiv}>
                        <label for={idInput}>{poblacion}</label>
                        <input type=""number"" name={idInput} id={idInput} required min=""0"" max=""70"" value=""0"" />
                     </div>
                     </br>
                 ";
                }
            }

            @Html.Raw(html)

            <button type="button" id="siguiente_calendario">Siguiente</button>
            <br />
            <button id="atras" type="button" onclick="history.back()">Atrás</button>
            <br />
        </form>
    </section>
    <br />
    <br />
</body>
</html>