@{

    if (ViewData["IsAdminArea"] != null)
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!-- Este formulario sirve para que los turistas indiquen la cantidad de personas para realizar su reserva, 
los campos incluyen a los adultos y niños nacionales y adultos y niños extranjeros por el momento-->
<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservas Junquillal</title>
    <link rel="stylesheet" href="~/css/cantidadPersonasStyle.css" />
    <script defer src="~/js/ValidacionCantidadPersonas.js"></script>
</head>

<body>
    <header>
        <div id="titulo">
            @if (ViewBag.TipoTurista == "reserva")
            {
                <h2 class="conCenter">Huéspedes para la reserva en la zona de camping</h2>
            }
            else
            {
                <h2 class="conCenter">Huéspedes para visita en la zona de Picnic</h2>
            }
            
             <div id="instruccion">Indique la cantidad de adultos y niños nacionales o extranjeros incluídos en la reserva</div>
             <br/>
        </div>
    </header>
    <section>
        <form  id="cantidad" action="Calendario" method="POST">
            <br />
            <div id="error"></div>
            <br />
            <div id="adulto_nacional">
                <label for="cantidad_Adultos_Nacional">Adultos nacionales</label>
                <input type="number" name="cantidad_Adultos_Nacional" id="cantidad_Adultos_Nacional" required min="0" max="40" value="0" />
            </div>

            <br />

            <div id="ninno_nacional">
                <label for="cantidad_Ninnos_Nacional">Niños nacionales</label>
                <input type="number" name="cantidad_Ninnos_Nacional" id="cantidad_Ninnos_Nacional" required min="0" max="40" value="0" />
            </div>

            <br />

            <div id="adulto_extranjero">
                <label for="cantidad_Adultos_Extranjero">Adultos extranjeros</label>
                <input type="number" name="cantidad_Adultos_Extranjero" id="cantidad_Adultos_Extranjero" required min="0" max="40" value="0" />
            </div>

            <br />

            <div id="ninno_extranjero">
                <label for="cantidad_ninnos_extranjero">Niños extranjeros</label>
                <input type="number" name="cantidad_ninnos_extranjero" id="cantidad_ninnos_extranjero" required min="0" max="40" value="0" />
            </div>

            <button type="button" id="siguiente_calendario">Siguiente</button>
            <br />
            <button id="atras" type="button" onclick="history.back()">Atrás</button>
            <br />
        </form>
    </section>
    <br />
    <br />
</body>
</html>