@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/css/TablaRoles.css" />
    </head>

    <body>

        <h3>Bienvenido al módulo Admin</h3>
        <br>
        <br>
        <h4>Funcionalidades que tiene este  módulo :</h4>
        <ul style="list-style-type: circle;">
            <li>Hacer reservación para camping</li>
            <li>Hacer reservación para picnic</li>
            <li>Administrar reservas, como buscar y eliminar reservaciones</li>
            <li>Ver y editar tarifas</li>
            <li>Generar reportes de intervalos o días que muestren el registro de dinero y personas ingresadas al parque</li>
        </ul>

        <br>
        <br>

        <table>
            
            <tr class="titulo">
                <th>Funciones</th>
                <th>Administrador</th>
                <th>Operativo</th>
            </tr>
            
            <tr>
                <td>Realizar check-in/check-out</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/equiz.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Cancelar una reserva</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Realizar nueva reserva picnic/camping</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Revisar campos disponibles</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Agregar nuevas tarifas</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/equiz.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Borrar nuevas tarifas</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/equiz.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Editar nuevas tarifas</td>
               <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/equiz.png" width="25" height="25"></td>
            </tr>

            <tr>
                <td>Establecer permisos del sistema</td>
                <td><img src="~/img/check.png" width="25" height="25"></td>
                <td><img src="~/img/equiz.png" width="25" height="25"></td>
            </tr>



        </table>


    </body>

</html>