@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bienvenido al módulo Admin</h3>
<div class="bienvenida">

    <h4> Hola @ViewData["Puesto"] @ViewData["Nombre"], que tenga un buen dia</h4>

</div>

<br></br>
<br></br>
<h4>Funcionalidades que tiene este  módulo :</h4>
<ul style="list-style-type: circle;">
    <li>Hacer reservación para camping</li>
    <li>Hacer reservación para picnic</li>
    <li>Administrar reservas, como buscar y eliminar reservaciones</li>
    <li>Ver y editar tarifas</li>
    <li>Generar reportes de intervalos o días que muestren el registro de dinero y personas ingresadas al parque</li>
</ul>
