@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>

        <h3>Bienvenido al módulo Admin</h3>
        <br></br>
        <br></br>
        <h4>Funcionalidades que tiene este  módulo :</h4>
        <ul style="list-style-type: circle;">
            <li>Hacer reservación para camping</li>
            <li>Hacer reservación para picnic</li>
            <li>Administrar reservas, como buscar y eliminar reservaciones</li>
            <li>Ver y editar tarifas</li>
            <li>Generar reportes de intervalos o días que muestren el registro de dinero y personas ingresadas al parque</li>
        </ul>

        <table class="default">
            <tr>
                <th>Roles</th>
                <th>Administrador</th>
                <th>Operativo</th>
            </tr>
            
            <tr>
                <td>Realizar check-in/check-out</td>
                <td>check</td>
                <td>X</td>
            </tr>

            <tr>
                <td>Cancelar una reserva</td>
                <td>check</td>
                <td>check</td>
            </tr>

            <tr>
                <td>Realizar nueva reserva picnic/camping</td>
                <td>check</td>
                <td>check</td>
            </tr>

            <tr>
                <td>Revisar campos disponibles</td>
                <td>check</td>
                <td>check</td>
            </tr>

            <tr>
                <td>Agregar nuevas tarifas</td>
                <td>check</td>
                <td>X</td>
            </tr>

            <tr>
                <td>Borrar nuevas tarifas</td>
                <td>check</td>
                <td>X</td>
            </tr>

            <tr>
                <td>Editar nuevas tarifas</td>
                <td>check</td>
                <td>X</td>
            </tr>

            <tr>
                <td>Establecer permisos del sistema</td>
                <td>check</td>
                <td>X</td>
            </tr>



        </table>


    </body>

</html>