
<!DOCTYPE html>
<html>

<head>
    <title>Calendario</title>


    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/CalendarioStyle.css">





</head>

<body>
    <label id="label-fecha-entrada" for="fecha-entrada">Fecha de entrada:</label>
    <input type="text" id="fecha-entrada" name="fecha-entrada" readonly>
    <label for="fecha-salida" id="label-fecha-salida">Fecha de salida:</label>
    <input type="text" id="fecha-salida" name="fecha-salida" readonly>
    <button class="button1" type="submit" id="btn-siguiente"> Siguiente </button>
    <button class="button2" type="submit" onClick="location.href='../Home/Index'"> Regresar </button>
    <div id="error"></div>
 
    






    @section Scripts{

        <script>


            $(function () {

                var reservedDates = ["2023-05-02", "2023-05-03", "2023-05-04"]; // Fechas reservadas en formato YYYY-MM-DD

                var currentDate = new Date();
                var nextMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 2, 0);
                var maxDate = nextMonth.getFullYear() + "-" + (nextMonth.getMonth() + 1) + "-" + nextMonth.getDate();

                $("#fecha-entrada").datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: 0,
                    maxDate: maxDate,
                    fontSize: 20,

                    beforeShowDay: function (date) {
                        var dateString = $.datepicker.formatDate("yy-mm-dd", date);
                        if ($.inArray(dateString, reservedDates) !== -1) {
                            return [false, "reserved"];
                        } else {
                            return [true, ""];
                        }
                    },
                    onSelect: function (selectedDate) {
                        $("#fecha-salida").datepicker("option", "minDate", selectedDate);
                        $("#fecha-salida").focus();
                        var startDate = $(this).datepicker("getDate");
                        if (startDate != null) {
                            var endDate = $("#fecha-salida").datepicker("getDate");
                            if (endDate != null) {
                                var reservedInBetween = false;
                                var currentDate = new Date(startDate);
                                while (currentDate <= endDate) {
                                    var dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);
                                    if ($.inArray(dateString, reservedDates) !== -1) {
                                        reservedInBetween = true;
                                        break;
                                    }
                                    currentDate.setDate(currentDate.getDate() + 1);
                                }
                                if (reservedInBetween) {
                                    $("#fecha-salida").val("");
                                    $("#fecha-salida").datepicker("option", "minDate", startDate);
                                }
                            }
                        }
                    }
                });

                $("<style>").text(".ui-datepicker.visible { display: inline-block; }").appendTo("head");
                $("#fecha-salida").datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: 1,
                    maxDate: maxDate,
                    show: true,
                    beforeShowDay: function (date) {
                        var dateString = $.datepicker.formatDate("yy-mm-dd", date);
                        if ($.inArray(dateString, reservedDates) !== -1) {
                            return [false, "reserved"];
                        } else {
                            return [true, ""];
                        }
                    },
                    hideIfNoPrevNext: false,
                    onSelect: function (selectedDate) {
                        $("#fecha-entrada").datepicker("option", "maxDate", selectedDate);
                        var endDate = $(this).datepicker("getDate");
                        if (endDate != null) {
                            var startDate = $("#fecha-entrada").datepicker("getDate");
                            if (startDate != null) {
                                var reservedInBetween = false;
                                var currentDate = new Date(startDate);
                                while (currentDate <= endDate) {
                                    var dateString = $.datepicker.formatDate("yy-mm-dd", currentDate);
                                    if ($.inArray(dateString, reservedDates) !== -1) {
                                        reservedInBetween = true;
                                        break;
                                    }
                                    currentDate.setDate(currentDate.getDate() + 1);
                                }
                                if (reservedInBetween) {
                                    $("#fecha-salida").val("");
                                    $("#fecha-salida").datepicker("option", "minDate", startDate);
                                }
                            }
                        }
                    }
                });
            });

            var err = document.getElementById("error");
            const btnSiguiente = document.querySelector('#btn-siguiente');
            btnSiguiente.addEventListener('click', function () {
                const fechaEntrada = document.querySelector('#fecha-entrada').value;
                const fechaSalida = document.querySelector('#fecha-salida').value;
                if (fechaEntrada && fechaSalida) {
                   
                } else {    
                      
                        err.innerText = "Debes llenar las dos fechas";

                }
            });

        </script>

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }



 
</body>

</html>