@{
    ViewData["Title"] = "Home Page";
}

<div class="imagen">
    <img src="playa.jpg" alt="HOLA">
</div>

<div class="informacion">
    <h4>Un lugar fantástico para vivir de la naturaleza</h4>
    <p>
        El Refugio Nacional de Vida Silvestre Bahía Junquillal es un lugar mágico para venir a solo o con tus amigos 
        a disfrutar de las bellezas naturales de Costa Rica.
    </p>
</div>

<div class="imagen">
    <img src="imagen relleno 2.jpg" alt="HOLA">
</div>

<div class="informacion">
    <h4>Actividades Cargadas de Emoción</h4>
    <p>
        En este fantástico lugar se desarrollan actividades que son toda una experiencia única:
        <ul>
            <li><a href="#">Senderismo</a></li>
            <li><a href="#">Camping</a></li>
            <li><a href="#">Picnic</a></li>
            <li><a href="#">Kayak</a></li>
            <li><a href="#">Caminatas por la playa</a</li>
            <li><a href="#">Surf</a></li>
        </ul>
        Las cuales te brindarán un momento inolvidable.
    </p>
</div>

<div class="informacion">
    <h4>Hospédate en la naturaleza</h4>
    <p>
        En los recintos del refugio hay parcelas para que su familia y usted puedan pasar la noche, y viva así noches 
        realmente conectado a la naturaleza, donde podrá disfrutar de todos los sonidos de este maravilloso lugar. <!--colocar imagen a la par>
    </p>
</div>



