@{
    ViewData["Title"] = "Pagina de Inicio";
}
<html>
<head>
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <h1>Junquillal</h1>
    <h1>@ViewData["Title"]</h1>
    <h3>Ven y descubre este paraíso escondido en Guanacaste</h3>

    <div class="conCenter">
        <div class="image">
            <img src="~/img/junquillal.jpg" alt="playa">
        </div>
    </div>

    <div class="informacion">
        <h4>Un lugar fantástico para vivir de la naturaleza</h4>
        <p>
            El Refugio Nacional de Vida Silvestre Bahía Junquillal es un lugar mágico para venir a solo o con tus amigos
            a disfrutar de las bellezas naturales de Costa Rica.
        </p>
    </div>

    <p> </p>

    <div class="conCenter">
        <div class="informacion">
            <p>
                <h4>Actividades Cargadas de Emoción</h4>
                En este fantástico lugar se desarrollan actividades que son toda una experiencia única:
                <ul>
                    <li><a>Senderismo</a></li>
                    <li><a>Camping</a></li>
                    <li><a>Picnic</a></li>
                    <li><a>Kayak</a></li>
                    <li><a>Caminatas por la playa</a></li>
                    <li><a>Surf</a></li>
                </ul>
                Las cuales te brindarán un momento inolvidable.
            </p>
        </div>
        <div class="image">
            <img src="~/img/kayak.jpg" height="400">
        </div>
    </div>

    <div style="margin-bottom:30px;"></div>

    <div class="conSpaceBET">
        <div class="image">
            <img src="~/img/playa_junquillal.jpg">
        </div>
        <div class="informacion">
            <h4>Una playa mágica</h4>
            <p>
                La hermosa playa en Junquillal ubicada en nuestro refugio es un lugar único y mágico para disfrutar del Sol
                y la belleza del mar. Con más de 2 kilómetros de extensión, esta costa es un lugar en el que su familia y usted
                pueden pasar el rato y disfrutar de las maravillas de este país.
            </p>
            <h4>Hospédate en la naturaleza</h4>
            <p>
                En los recintos del refugio hay parcelas para que su familia y usted puedan pasar la noche, y viva así noches
                realmente conectado a la naturaleza, donde podrá disfrutar de todos los sonidos de este maravilloso lugar.
            </p>
        </div>
    </div>

</body>
</html>