@{
    ViewData["Title"] = "Términos y Condiciones";
}

<html> 
    <head>
        <title>Terminos y Condiciones</title>
        <link rel="stylesheet" href="~/css/terminos_Condiciones.css">
    </head>

    <body> 
        <h1 style="text-align:center">@ViewData["Title"]</h1>

        <div class="texto"> 
            <ol>
                <li style="font-size:20px"> Área de Conservación Guanacaste</li>
                <li style="font-size:20px"> Sitio Patrimonio Mundial</li>
                <li style="font-size:20px"> Refugio Nacional de Vida Silvestre Bahía Junquillal</li>
                <li style="font-size:20px"> Bandera Azul 3 Estrellas</li>
            </ol>
        </div>

        <br />

        <div class="lista">
            <h3 style="text-align:center">REGULACIONES Y RECOMENDACIONES</h3>
            <ul>
                <li>No se permite el ingreso de mascotas (Art. 8 Ley 6084)</li>
                <li>Separe y recicle los desechos en el área asignada para este fin.</li>
                <li>
                    Mantenga la vigilancia sobre sus pertenencias ya que es un sitio público. Asojunquillal y
                    el ACG no se hace responsable por artículos perdidos dentro u alrededor de las
                    instalaciones.</li>
                <li>Mantenga su comportamiento de manera adecuada y respetuosa.</li>
                <li>Mantenga el ruido y la música a un nivel razonable.</li>
                <li>
                    A las 9 pm se pide moderar al máximo sonidos, música o conversaciones que perturben
                    el descanso de otras personas presentes.
                </li>
                <li> No se permite circular en bicicleta o vehículos motorizados en los senderos y en la playa.</li>
                <li>
                    Estas son playas protegidas dedicadas a brindar un santuario natural a los organismos
                    que viven aquí.
                </li>
                <li>Utilice el agua racionalmente.</li>
                <li>Se prohíbe fumar en la zona de picnic o acampar (Ley 9028).</li>
                <li>
                    También está prohibido rayar o hacer inscripciones en árboles, rocas, paredes u objetos
                    del área protegida. (Art8 Ley 6084)
                </li>
                <li>
                    No se podrá extraer del lugar ningún elemento ya sea de fauna o flora, o cualquier otro
                    objeto. (Art8 Ley 6084).
                </li>
                <li>Es prohibido pescar. (Arts Ley 6084)</li>
                <li>
                    Usar botes inflables con precaución, fuertes vientos pueden hacer difícil su regreso a la
                    playa.
                </li>
                <li>
                    Cocinar únicamente con gas o carbón. No se permite recoger madera del bosque, ya que
                    es hogar de muchos organismos.
                </li>
                <li>
                    Utilizar únicamente las parrillas y zonas definidas para cocinar, debido a que está en
                    presencia de un ecosistema frágil y podría ocasionar un incendio forestal.
                </li>
                <li>Limite el consumo de licor y estupefacientes. (Ley 8204).</li>
                <li>No usar generadores de electricidad.</li>
                <li>
                    Está prohibido realizar fogatas dentro del área. Ya que alguna de esta puede ocasionar
                    algún incendio forestal.
                </li>
                <li>Utilice zapatos cerrados para caminar dentro de los senderos o rocas de la zona costera</li>
            </ul>
        </div>

        <div class="texto"> 
            <div class="image">
                <img src="~/img/cocodrilo.jpg">
            </div>
            <p>
                Apreciamos su colaboración con estas regulaciones para ayudarnos a proteger la
                biodiversidad del Refugio Nacional de Vida Silvestre Bahía Junquillal<br>
                Cualquier comportamiento que se considere no deseado es motivo de expulsión inmediata.
            </p>
        </div>
    </body>
</html>


