@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <script defer src="~/js/login.js"></script>
</head>
<body>
    <div class="contenido">
        <div>
            <h2> Bienvenido a la seccion de inicio de sesion </h2>
            <h3>Por favor introduzca sus credenciales de usuario</h3>

        </div>
        <br>
        <div class="login">
            <form id="infoUsuario" action="iniciarSesion" method="POST">
                <div class="Usuario" id="divUsuario">

                    <label for="Usuario"> ID: </label>

                    <input placeholder="Introduzca su ID" type="text" id="usuario" name="Usuario" />
                    <p class="datoError" id="usuarioError"></p>
                </div>


                <div class="contra" id="divContrasena">

                    <label for=»contrasena»> Contraseña: </label>

                    <input type="password" id="contrasena" name="contrasena">
                    <p class="datoError" id="contraError"></p>
                </div>

                <br>
                <h4>Seleccione su puesto</h4>
                <select name="Puesto" id="Puesto">
                    <option value="Administrador">Administrador</option>
                    <option value="Operativo">Operativo</option>
                </select>


            </form>
            <br>
            <button id="atras" class="botonAtras" type="button" onclick="location.href='../Home/Index'">Regresar a Página principal</button>
            <button id="botonContinuar" class="botonContinuar" type="button">Continuar</button>
        </div>

    </div>
</body>