@charset "utf-8";
/* CSS Document */

.ui-state-selected {
    background-color: lightgreen;
    color: #fff;
}



.button1 {
    position: fixed;
    background: #F39800 !important;
    color: #fff !important;
    border-radius: 10px;
    margin-top: 5% !important;
    margin-left: 21%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}

.button {
    border-radius: 10px;
}

#error {
    position: fixed;
    color: red;
    margin-top: 28% !important;
    margin-left: 36%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.reserved {
    opacity: 80;
    background-color: #ff8577;
    color: #ff8577;
    border: 2px solid #ff8577;
}

.fondo {
    background-color: #A2A2A2;
    margin: 1%;
    padding: 18%;
    border: none;
    border-radius: 10px;
}

.ui-datepicker {
    opacity: 40;
    height: 330px;
    width: 400px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo {
    flex-flow: column;
    height: 90%;
    color: black;
    margin: 0px;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 40px
}



.ui-datepicker-calendar {
    width: 100%;
}

.resultadoCampos {
    margin: 2%;
    position: absolute;
    top: 30%;
    left: 67%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.entradaDatos {
    margin: 2%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 64%;
    font-size: 20px;
}

#label-fecha-entrada {
    position: fixed;
    top: 36%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fecha-entrada {
    position: fixed;
    top: 40%;
    left: 19%;
}


@media screen and (max-width: 668px) {

    #fecha-entrada {
        left: 13%;
    }

    #label-fecha-entrada {
        left: 28%;
    }

    .ui-datepicker {
        height: 200px;
        width: 300px;
        margin-right: 20px;
    }

    .button1 {
        position: relative;
        background: #F39800 !important;
        color: #fff !important;
        border-radius: 10px;
        margin-top: 70% !important;
        margin-left: 0%;
    }

    .button2 {
        position: fixed;
        background: #A2A2A2 !important;
        color: #fff !important;
        border-radius: 10px;
        margin-top: 40% !important;
        margin-left: 35%;
    }
}
