@charset "utf-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
}

#cantidad {
    text-align: center;
}

#titulo {
    color: black;
    display: flex;
    flex-flow: column;
    height: 90%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

input.valid {
    border-color: seagreen;
}

input {
    border: solid;
    border-width: 2px;
    border-radius:10px;
}

label {
    display: inline-block;
    width: 400px;
}

#error {
    color: red;
}

#siguiente_calendario {
    background-color: #F39800;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
    align-self:center;
}

#atras {
    background-color: #A2A2A2;
}

h2 {
    text-align: left;
}
 #instruccion {
     text-align: center;
 }

.conCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

