
.contenido {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 250px 150px 250px;
    background-image: url(../img/RVNJunquillal.png);
    background-color: #cccccc;
}

.contenido div {
   margin: 10px;
}

.botonAtras {
    color: black;
    font-size: 15px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.botonContinuar {
    background-color: #F39800;
    font-size: 15px;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.datoError {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

.advertencia {
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: italic;
}
