html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.informacion {
    padding: 5px;
    border: 2px;
    margin: 20px;
}

.conSpaceBET {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 70%;
    order: 2;
    margin-bottom: 5%;
}

.barraMenu {
    font-weight: bold;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    border: 1px;
}
