.centrar {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.button1 {
    background: #F39800;
    color: #fff;
}

.button2 {
    background: #A2A2A2;
    color: #fff;
}

.button {
    border-radius: 10px;
}

.mensajeError {
    color: red;
    margin-top: 0px;
    font-size: 15px;
}

.formInput {
    margin-bottom: 30px;
}
