

<!DOCTYPE html>
<html>

<head>
    <title>Calendario</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="styleCalendario.css">
</head>

<body>
    <label id="label-fecha-entrada" for="fecha-entrada">Fecha de entrada:</label>
    <input type="text" id="fecha-entrada" name="fecha-entrada" readonly>
    <label for="fecha-salida" id="label-fecha-salida">Fecha de salida:</label>
    <input type="text" id="fecha-salida" name="fecha-salida" readonly>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>
    <script defer src="~/js/Calendario.js"></script>

</body>

</html>