@charset "utf-8";
/* CSS Document */

    table {
      border-collapse: separate;
      border-spacing: 10px;
      margin: auto;
      margin-top: 200px;
    }
    

    td {
      padding: 10px;
      border: 1.5px solid black;
      height: 30px;
      width: 30px;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 300;
      text-align: center;
    }

    th {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 300;
    }

    td:not(.no-border):not(:empty):hover {
     background-color: rgb(69, 67, 67) ;
     color: white;
    }

    .month-year {
      font-size: 24px;
      font-family:'Times New Roman', Times, serif;
      font-size: 24px;
      font-weight:lighter;
      color: black;
      text-align: center; /* center the text horizontally */
      position: fixed;
      top: 120px;
      left: 32.5%;
      transform: translateX(-50%); /* adjust for the element's width */
    }

    .month-year2 {
      font-size: 24px;
      font-family:'Times New Roman', Times, serif;
      font-size: 24px;
      font-weight:lighter;
      color: black;
      text-align: center; /* center the text horizontally */
      position: fixed;
      top: 120px;
      left: 67.5%;
      transform: translateX(-50%); /* adjust for the element's width */
    }


    .calendar-container {
      display: flex;
      justify-content: center;
    }

    .calendar {
      margin: 0 50px;
    }
